/*
 * LESS-module: Terminal.
 * Styles for all terminal components;
 * type, background, colors, margins etc.
 * @author Jakob Metzger <jakob.me@gmail.com>
 * @copyright 2015 Jakob Metzger
 */

// Body
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: @color-text;
    font-size: @font-medium;
    background: @color-background;
}

// Selection
::-moz-selection { background: fade(@color-highlight, @fade-selection); }
::selection { background: fade(@color-highlight, @fade-selection); }

// Terminal
#terminal {
    -webkit-font-smoothing: subpixel-antialiased;
    color: @color-text;
    font-size: @font-medium;
    padding: @margin-terminal;
    max-width: @size-terminal;
    .font-terminal();
    
    // Mobile terminal
    &.mobile { margin-top: @size-navigation; }
    
    // Logo
    #logo {
        float: left;
        display: block;
        background: transparent center center no-repeat;
        font-size: 0;
        background-image: url("../img/layout/logo.png");
        background-size: @size-logo @size-logo;
        width: @size-logo;
        height: @size-logo;
        
        // Blinking logo
        &.blink { .animation-logo(); }
    }
    
    // Title
    h1 {
        font-weight: normal;
        margin: 0;
        padding: 0;
        font-size: @font-medium;
    }
    
    // Commands
    em {
        font-style: normal;
        font-weight: normal;
        color: @color-command;
    }
    
    // Command links
    i {
        cursor: pointer;
        font-style: normal;
        text-decoration: none;
        color: @color-command;
        
        // Hover
        &:hover, &:active { background: fade(@color-command, @fade-cursor); }
    }
    
    // Highlighted text
    b {
        font-weight: normal;
        color: @color-highlight;
    }
    
    // Hint text
    dfn {
        font-style: normal;
        color: @color-hint;
    }
    
    // Hint links
    ins, a {
        cursor: pointer;
        font-style: normal;
        text-decoration: none;
        color: @color-hint;
        
        // Hover
        &:hover, &:active { background: fade(@color-hint, @fade-cursor); }
    }
    
    // Links
    a:not(.image) {
        &:before { content: "["; }
        &:after  { content: "]"; }
    }
    
    // Image links
    a.image {
        display: inline-block;
        background: transparent;
        font-size: 0;
        margin-right: @font-medium;
    }
    
    // Images
    img {
        border: none;
        outline: none;
        max-width: 100%;
    }
    
    // Error text
    strong {
        font-weight: normal;
        color: @color-error;
    }
    
    // Comment text
    u {
        text-decoration: none;
        text-transform: uppercase;
        color: @color-comment;
    }
    
    // Comment text small
    small {
        color: @color-comment;
        font-size: @font-medium;
    }
    
    // Output
    blockquote { padding: 0 0 0 (4 * @font-medium); }
    
    // Tables
    table {
        
        // Reset
        &, tr, td, th, thead, tbody {
            border-collapse: collapse;
            border: none;
            border-spacing: 0;
            padding: 0;
            margin: 0;
            -webkit-border-horizontal-spacing: 0;
            -webkit-border-vertical-spacing: 0;
        }
        
        // Head column
        th {
            text-align: left;
            font-weight: normal;
            text-transform: uppercase;
            font-size: @font-medium;
            color: @color-comment;
            margin-bottom: @font-medium;
        }
        
        // Columns
        td {
            padding: 0 @font-medium;
            
            // Level
            &.level small { color: fade(@color-comment, @fade-cursor); }
            
            // First and last column
            &:first-child { padding-left: 0; }
            &:last-child { padding-right: 0; }
        }
        
        // Table head
        thead:not(:first-child) th {
            padding-top: @font-medium;
        }
    }
    
    // Paragraph/output and sections
    p, blockquote, .section, pre, table {
        clear: both;
        overflow: hidden;
        margin: 0 0 (2 * @font-medium) 0;
        
        // Last or empty paragraph/output/section
        &:last-child, &:empty { margin: 0; }
    }
    
    // Cursor
    .cursor {
        background: fade(@color-text, @fade-cursor);
        
        // Blinking cursor
        &.blink { .animation-cursor(); }
    }
    
    // Text with blinking cursor
    p.blink, h1.blink {
        &:after {
            display: inline;
            content: "\00a0";
            background: fade(@color-text, @fade-cursor);
            .animation-cursor();
        }
    }

    // Input
    #input {
        display: none;
        
        // Ready visible
        &.ready { display: block; }
        
        // Paragraph
        p {
            word-break: break-all;
            word-wrap: break-word;
            font-size: 0;
            .font-terminal();
            
            // Font-size
            span { font-size: @font-medium; }
        }
    }
}

// Mobile Navigation
#navigation {
    -webkit-font-smoothing: subpixel-antialiased;
    overflow: hidden;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height: 0;
    padding: 0;
    width: 100%;
    background: @color-background;
    .font-terminal();
    .transition();
    .border-box();
    .shadow();
    
    // Visible navigation
    &.mobile {
        display: block;
        height: @size-navigation;
    }
    
    // Gradients right and left
    &:after, &:before {
        display: block;
        position: fixed;
        content: "";
        top: 0;
        height: 100%;
        z-index: 1000;
        width: @padding-terminal-half;
    }
    
    // Set positions and gradients
    &:before { left: 0; .gradient(100%, 0%); }
    &:after { right: 0; .gradient(0%, 100%); }
    
    // List
    ul {
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        z-index: 500;
        font-size: 0;
        padding: 0 @padding-terminal-half;
        height: @size-navigation;
        .border-box();
        
        // List element
        li {
            display: inline-block;
            
            // Commands
            i, b {
                cursor: pointer;
                display: inline-block;
                font-style: normal;
                font-weight: normal;
                font-size: @font-medium;
                line-height: @font-medium;
                height: @size-navigation;
                padding: @padding-terminal @padding-terminal-half;
                color: @color-command;
                .border-box();
                
                // Hover
                &:hover span {
                    background: fade(@color-command, @fade-cursor);
                }
            }
            
            // Type command
            b {
                text-transform: uppercase;
                color: @color-highlight;
                
                // Hover
                &:hover span {
                    background: fade(@color-highlight, @fade-cursor);
                }
            }
        }
    }
    
    // Mobile input
    #input-mobile {
        -webkit-appearance: none;
        background: transparent;
        position: absolute;
        display: block;
        outline: none;
        border: none;
        padding: 0;
        left: -100%;
        top: -100%;
    }
}

// Responsive
@media screen and (max-width: @size-responsive) {
    
    // Terminal
    #terminal {
        padding: @padding-terminal;
        
        // Title/terminal
        &, p, h1, #input p span, small, table th { font-size: @font-small; }
        
        // Table columns
        table {
            th { margin-bottom: @font-small; }
            td {
                padding: 0 @font-small;
                &:first-child { padding-left: 0; }
                &:last-child { padding-right: 0; }
            }
            thead:not(:first-child) th {
                padding-top: @font-small;
            }
        }
        
        // Output
        blockquote { padding-left: @font-small; }
        
        // Image link
        a.image { margin-right: @font-small; }
        
        // Paragraph/output and sections
        p, blockquote, .section, pre, table {
            margin-bottom: (2 * @font-small);
            &:last-child, &:empty { margin: 0; }
        }
    }
}

// Retina images
@media screen and (-webkit-min-device-pixel-ratio: 1.5),
       screen and (min-resolution: 144dpi) {

    // Logo
    #terminal #logo { background-image: url("../img/layout/logo-retina.png"); }
}