/*
 * LESS-module: Variables.
 * Defines variables/constants for usage
 * in all other modules (colors, sizes, etc).
 */
 
// Colors
@color-background:      #151815;
@color-highlight:       #4bc259;
@color-command:         #f1d54f;
@color-text:            #ffffff;