/*
 * LESS-module: Variables.
 * Defines variables/constants for usage
 * in all other modules (colors, sizes, etc).
 * @author Jakob Metzger <jakob.me@gmail.com>
 * @copyright 2015 Jakob Metzger
 */
 
// Colors
@color-background:      #151815;
@color-highlight:       #5ace76;
@color-hint:            #6cf1e7;
@color-error:           #fa6177;
@color-comment:         #7a7a7a;
@color-command:         #ead159;
@color-text:            #ffffff;

// Fades
@fade-cursor:           50%;
@fade-selection:        25%;

// Fonts
@font-terminal:         "Source Code Pro";

// Margins
@margin-terminal:       8%;

// Sizes
@size-responsive:       720px;
@size-terminal:         672px;
@size-logo:             64px;

// Font sizes
@font-medium:           14px;
@font-small:            12px;